{% extends "coderedcms/pages/web_page_notitle.html" %}
{% load wagtailcore_tags wagtailimages_tags static i18n %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">


<div class="main-profile">
  <div class="row">
    <div class="col-lg-4">
      {% if page.image_gallery and page.image_gallery.0 %}
{% image page.image_gallery.0.value max-800x600 as profile_img %}
        <img src="{{ profile_img.url }}" alt="{{ page.user_name }}" style="border-radius: 23px;">
      {% else %}
       <img src="{% static 'assets/images/default-profile.jpg' %}" alt="{{ page.user_name }}" style="border-radius: 23px;">
      {% endif %}
    </div>
    <div class="col-lg-4 align-self-center">
      <div class="main-info header-text">
        <span>{% trans 'Cevrimdışı' %}</span> <!-- You may replace this with dynamic status if available -->
        <h4>{% trans page.user_name %}</h4>
        <p>{% trans page.user_bio|default:"Bu kullanıcı henüz bir biyografi paylaşmadı." %}</p>
        <div class="main-border-button">
<a href="https://wa.me/{{ page.whatsapp }}?text=merhaba+{{ page.user_name|lower }}%2C+masaj+sitesinden+yaziyorum+bilgi+verirmisiniz%3F" target="_blank" rel="noopener noreferrer">
  <img src="{% static 'assets/images/wsp.png' %}" alt="{% trans 'WhatsApp Üzerinden Bağlan' %}" />
</a>

     </div>
      </div>
    </div>
    <div class="col-lg-4 align-self-center">
      <ul>
        <li>{% trans 'Ilân Kimliği' %} <span>{{ page.advert_id }}</span></li>
        <li>{% trans 'Uyelik Tarihi' %} <span>{{ page.membership_date }}</span></li>
        <li>{% trans 'Deneyim Yılları' %} <span>{{ page.experience_years }}</span></li>
        <li>{% trans 'Sertifikalar' %} <span>{{ page.certificate_status|default:"Yok" }}</span></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="clips">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>{% trans page.user_name %}'nin</em> {% trans 'Galerisi' %}</h4>
            </div>
          </div>

<div class="row">
  {% for image in page.image_gallery %}
    {% image image.value max-300x200 as thumb_img %}
    <div class="col-lg-3 col-sm-6">
      <div class="item">
        <a href="{{ image.value.url }}" data-lightbox="gallery" data-title="{% trans page.title|default:'Galeri Ürünü' %}">
          <img src="{{ thumb_img.url }}" alt="{% trans 'Galeri Resim Küçük Resmi' %}" class="img-responsive" style="border-radius: 23px;">
        </a>
      </div>
    </div>
  {% endfor %}
</div>

          <div class="col-lg-12">
            <div class="main-button">
              <a href="{{ page.user_profile_url }}">{% trans 'Daha Fazla Resim Yükle' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
